<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<div style="max-width: 520px; margin: 0 auto">
  <h1><%=title%></h1>

  <p>
    ...
  </p>

  <p>Build with Node&Express.js and MongoDB&Mongoose</p>
</div>

<%- include('./partials/footer.ejs') %>
